body {
    background-image: url("../img/BG.png");

}

.wrapper {
    max-width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.name {
    font-family: "Rounded Mplus 1c ExtraBold";
    font-size: 48px;
}


.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding-left: 0;
}

.buttons button {
    background-color: #D48396;
    border: none;
    text-align: center;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 30px;
    margin-top: 10px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-family: "Rounded Mplus 1c Medium";
    font-size: 24px;
}






@font-face {
    font-family: "Rounded Mplus 1c ExtraBold";
    src: url("../fonts/MPLUSRounded1c-ExtraBold.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Rounded Mplus 1c Medium";
    src: url("../fonts/MPLUSRounded1c-Medium.ttf");
    font-style: normal;
    font-weight: normal;
}